[Unit]
Description=XAMPP Docker Container
After=network.target docker.socket
Requires=docker.socket

[Service]
RestartSec=10
Restart=always

ExecStart=/usr/bin/docker start -a webserver
ExecStop=/usr/bin/docker stop -t 60 webserver

[Install]
WantedBy=multi-user.target
